# Część 1
 
1. https://github.com/GoogleCloudPlatform/covid-19-open-data/blob/main/docs/table-by-sex.md
2. https://medium.com/artificial-intelligence-101/data-analysis-with-google-bigquery-exploring-the-covid-19-open-data-public-dataset-2d246c66422d

# Część 2

In [1]:
# 2.5 Uruchom klienta BigQuery z poziomu Pythona.

import os
from operator import index

import pandas as pd
from google.cloud import bigquery

In [2]:
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]=".env/propane-flag-452609-u3-1feb9eb63dc4.json" # lokalizacja pobranego klucza z punktu 1.4.
client = bigquery.Client()

In [3]:
# 2.6 Pobierz dane do obiektu DataFrame.

query = ('select * from bigquery-public-data.covid19_open_data.covid19_open_data limit 10')
query_job = client.query(query)    
query_result = query_job.result()  
df = query_result.to_dataframe()
df

,location_key,date,place_id,wikidata_id,datacommons_id,country_code,country_name,iso_3166_1_alpha_2,iso_3166_1_alpha_3,aggregation_level,...,cumulative_vaccine_doses_administered_pfizer,new_persons_fully_vaccinated_moderna,cumulative_persons_fully_vaccinated_moderna,new_vaccine_doses_administered_moderna,cumulative_vaccine_doses_administered_moderna,new_persons_fully_vaccinated_janssen,cumulative_persons_fully_vaccinated_janssen,new_vaccine_doses_administered_janssen,cumulative_vaccine_doses_administered_janssen,location_geometry
0,RO,2021-07-01,ChIJw3aJlSb_sUARlLEEqJJP74Q,Q218,country/ROU,RO,Romania,RO,ROU,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(25 46)
1,RO,2022-06-09,ChIJw3aJlSb_sUARlLEEqJJP74Q,Q218,country/ROU,RO,Romania,RO,ROU,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(25 46)
2,RO,2022-03-13,ChIJw3aJlSb_sUARlLEEqJJP74Q,Q218,country/ROU,RO,Romania,RO,ROU,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(25 46)
3,RO,2020-05-22,ChIJw3aJlSb_sUARlLEEqJJP74Q,Q218,country/ROU,RO,Romania,RO,ROU,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(25 46)
4,RO,2020-11-08,ChIJw3aJlSb_sUARlLEEqJJP74Q,Q218,country/ROU,RO,Romania,RO,ROU,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(25 46)
5,RO,2021-10-09,ChIJw3aJlSb_sUARlLEEqJJP74Q,Q218,country/ROU,RO,Romania,RO,ROU,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(25 46)
6,RO,2021-07-08,ChIJw3aJlSb_sUARlLEEqJJP74Q,Q218,country/ROU,RO,Romania,RO,ROU,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(25 46)
7,US_AK,2020-10-06,ChIJG8CuwJzfAFQRNduKqSde27w,Q797,geoId/02,US,United States of America,US,USA,1,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-150 64)
8,US_AL,2020-07-14,ChIJdf5LHzR_hogR6czIUzU0VV4,Q173,geoId/01,US,United States of America,US,USA,1,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-86.7 32.7)
9,US_AR,2020-12-24,ChIJYSc_dD-e0ocR0NLf_z5pBaQ,Q1612,geoId/05,US,United States of America,US,USA,1,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-92.2 34.8)

# Część 3
Misja dodatkowa - Poznanie danych

In [4]:
# 3.1  Sprawdź, ile jest zapisanych wierszy z danymi. 

dataset_ref = client.dataset('covid19_open_data', project='bigquery-public-data')
table_ref = dataset_ref.table('covid19_open_data')
table = client.get_table(table_ref)

rows = table.num_rows

rows

22756333

In [5]:
# 3.2 Sprawdź, ile krajów jest uwzględnionych w danych. 

query = ("""
SELECT COUNT(DISTINCT country_code) AS num_countries
FROM bigquery-public-data.covid19_open_data.covid19_open_data

""")

query_job = client.query(query)
result = query_job.result()

number_of_country = result.to_dataframe()

# Zwraca 246, ponieważ niektóre tereny podległe takie jak "French Southern Territories", "Guam" itd.
# Co jest niby okey ale nie są to państwa bo ich jest 195
number_of_country.iloc[0, 0]

246

In [6]:
 # 3.3. Sprawdź, w jaki sposób zapisywane są dzienne informacje dla krajów.
query = ("""
SELECT *
FROM bigquery-public-data.covid19_open_data.covid19_open_data
WHERE  aggregation_level = 0 AND country_name = 'Poland'
ORDER BY date ASC 
""")

country_all = client.query(query).to_dataframe()
country_all

,location_key,date,place_id,wikidata_id,datacommons_id,country_code,country_name,iso_3166_1_alpha_2,iso_3166_1_alpha_3,aggregation_level,...,cumulative_vaccine_doses_administered_pfizer,new_persons_fully_vaccinated_moderna,cumulative_persons_fully_vaccinated_moderna,new_vaccine_doses_administered_moderna,cumulative_vaccine_doses_administered_moderna,new_persons_fully_vaccinated_janssen,cumulative_persons_fully_vaccinated_janssen,new_vaccine_doses_administered_janssen,cumulative_vaccine_doses_administered_janssen,location_geometry
0,PL,2020-01-01,ChIJuwtkpGSZAEcR6lXMScpzdQk,Q36,country/POL,PL,Poland,PL,POL,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(19 52)
1,PL,2020-01-02,ChIJuwtkpGSZAEcR6lXMScpzdQk,Q36,country/POL,PL,Poland,PL,POL,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(19 52)
2,PL,2020-01-03,ChIJuwtkpGSZAEcR6lXMScpzdQk,Q36,country/POL,PL,Poland,PL,POL,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(19 52)
3,PL,2020-01-04,ChIJuwtkpGSZAEcR6lXMScpzdQk,Q36,country/POL,PL,Poland,PL,POL,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(19 52)
4,PL,2020-01-05,ChIJuwtkpGSZAEcR6lXMScpzdQk,Q36,country/POL,PL,Poland,PL,POL,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(19 52)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
986,PL,2022-09-13,ChIJuwtkpGSZAEcR6lXMScpzdQk,Q36,country/POL,PL,Poland,PL,POL,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(19 52)
987,PL,2022-09-14,ChIJuwtkpGSZAEcR6lXMScpzdQk,Q36,country/POL,PL,Poland,PL,POL,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(19 52)
988,PL,2022-09-15,ChIJuwtkpGSZAEcR6lXMScpzdQk,Q36,country/POL,PL,Poland,PL,POL,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(19 52)
989,PL,2022-09-16,ChIJuwtkpGSZAEcR6lXMScpzdQk,Q36,country/POL,PL,Poland,PL,POL,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(19 52)
990,PL,2022-09-17,ChIJuwtkpGSZAEcR6lXMScpzdQk,Q36,country/POL,PL,Poland,PL,POL,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(19 52)

In [7]:
changing_columns = []

for x in country_all.columns:
    if country_all[x].value_counts().count() > 1:
        changing_columns.append(x)

changing_columns

['date',
 'new_confirmed',
 'new_deceased',
 'cumulative_confirmed',
 'cumulative_deceased',
 'cumulative_tested',
 'new_persons_vaccinated',
 'cumulative_persons_vaccinated',
 'new_persons_fully_vaccinated',
 'cumulative_persons_fully_vaccinated',
 'new_vaccine_doses_administered',
 'cumulative_vaccine_doses_administered',
 'school_closing',
 'workplace_closing',
 'cancel_public_events',
 'restrictions_on_gatherings',
 'public_transport_closing',
 'stay_at_home_requirements',
 'restrictions_on_internal_movement',
 'international_travel_controls',
 'income_support',
 'debt_relief',
 'fiscal_measures',
 'public_information_campaigns',
 'testing_policy',
 'contact_tracing',
 'emergency_investment_in_healthcare',
 'investment_in_vaccines',
 'facial_coverings',
 'vaccination_policy',
 'stringency_index',
 'average_temperature_celsius',
 'minimum_temperature_celsius',
 'maximum_temperature_celsius',
 'rainfall_mm',
 'snowfall_mm',
 'dew_point',
 'relative_humidity',
 'new_tested',
 'mobility_retail_and_recreation',
 'mobility_grocery_and_pharmacy',
 'mobility_parks',
 'mobility_transit_stations',
 'mobility_workplaces',
 'mobility_residential']

In [8]:
# 3.4. Sprawdź, w jaki sposób zapisywane są wartości liczbowe.

# Jeśli chodzi o to w jaki sposób są zapisane w bazie to są to prawie zawsze liczby bez mnożników mln czy innych,
# występują również przeliczenia np gpd_per_capita, population_density itd. wtedy są to wartości float,
# są też wartości ograniczone takie jak agregation_level (0, 1, 2, 3) które mówią o tym jak dokładnie dane są zbierane z danego kraju

df_numeric = country_all.select_dtypes(include=['number'])
df_numeric.dtypes.value_counts()

float64    441
Int64      217
Name: count, dtype: int64

In [9]:
#  3.5. Sprawdź, jaki przedział czasowy jest uwzględniony w danych. Dodatkowo porównaj przedziały czasowe dla przypadków nowych zachorowań, nowych śmierci oraz nowych zaszczepionych osób w danych.

query_new_confirmed = ("""
SELECT date, SUM(new_confirmed)
FROM bigquery-public-data.covid19_open_data.covid19_open_data
GROUP BY date
HAVING SUM(new_confirmed) IS NOT NULL AND SUM(new_confirmed) > 0
ORDER BY date ASC
""")

query_new_deceased = ("""
SELECT date, SUM(new_deceased)
FROM bigquery-public-data.covid19_open_data.covid19_open_data
GROUP BY date
HAVING SUM(new_deceased) IS NOT NULL AND SUM(new_deceased) > 0
ORDER BY date ASC
""")

query_new_person_vaccinated = ("""
SELECT date, SUM(new_persons_vaccinated)
FROM bigquery-public-data.covid19_open_data.covid19_open_data
GROUP BY date
HAVING SUM(new_persons_vaccinated) IS NOT NULL AND SUM(new_persons_vaccinated) > 0
ORDER BY date ASC
""")

new_confirmed = client.query(query_new_confirmed).to_dataframe()
new_deceased = client.query(query_new_deceased).to_dataframe()
new_person_vaccinated = client.query(query_new_person_vaccinated).to_dataframe()

In [10]:
print(f"Przedział czasowy danych jest od {country_all['date'].min()} do {country_all['date'].max()}.")
print(f"Przedział czasowy new_confirmed jest od {new_confirmed['date'].min()} do {new_confirmed['date'].max()}.")
print(f"Przedział czasowy new_deceased jest od {new_deceased['date'].min()} do {new_deceased['date'].max()}.")
print(f"Przedział czasowy new_person_vaccinated jest od {new_person_vaccinated['date'].min()} do {new_person_vaccinated['date'].max()}.")

Przedział czasowy danych jest od 2020-01-01 do 2022-09-17.
Przedział czasowy new_confirmed jest od 2020-01-01 do 2022-09-15.
Przedział czasowy new_deceased jest od 2020-01-02 do 2022-09-15.
Przedział czasowy new_person_vaccinated jest od 2020-12-07 do 2022-09-14.

In [11]:
#  3.6. Sprawdź więcej informacji (co najmniej 5 różnych) o danych dotyczących COVID-19. W tym celu nie wykonuj żadnych dodatkowych obliczeń.

# Część 4
Przeanalizuj poniższe przypadki. Zastanów się, jakie dane potrzebujesz do każdego z nich, a następnie zapisz je w osobnych, jak najprostszych obiektach DataFrame. Na tym etapie nie przetwarzaj ich. Zadbaj o czystość danych, m.in. usuń niepotrzebne puste wartości i duplikaty, zunifikuj sposób podawania informacji, zaproponuj sposób naprawy błędnych danych. Gotowe dane z obiektów DataFrame zapisz w osobnych plikach CSV.

In [12]:
# 4.1 Chcemy posiadać podstawowe dane o wszystkich krajach świata, które będą zrozumiałe dla człowieka oraz uniwersalne i potencjalnie przyszłościowe do dalszego przetwarzania.

query = ("""
SELECT DISTINCT country_name AS `Country_name`, iso_3166_1_alpha_3 AS `3_letter_code`, population, area_sq_km, population_density, population_urban, gdp_per_capita_usd
FROM bigquery-public-data.covid19_open_data.covid19_open_data
WHERE aggregation_level = 0
GROUP BY country_name, iso_3166_1_alpha_3, population, area_sq_km, population_density, population_urban, gdp_per_capita_usd
""")

country_data = client.query(query).to_dataframe()
country_data.to_csv("wyniki\\country_data.csv", index=False)

In [13]:
country_data

,Country_name,3_letter_code,population,area_sq_km,population_density,population_urban,gdp_per_capita_usd
0,Taiwan,TWN,23816775,36193,672.600,<NA>,<NA>
1,Andorra,AND,77265,470,164.394,67873,40886
2,Bulgaria,BGR,7000039,111000,63.900,5256027,9440
3,Benin,BEN,12123198,114760,107.513,5648149,1219
4,Bahamas,BHS,393248,13880,39.286,323784,32933
...,...,...,...,...,...,...,...
241,East Timor,TLS,1318442,14870,88.665,400182,1294
242,Tanzania,TZA,59734213,947300,67.435,20011885,1122
243,Ukraine,UKR,43733759,603550,75.492,30835699,3659
244,Saint Vincent and the Grenadines,VCT,110947,390,284.479,58185,7463
245,South Africa,ZAF,59308690,1219090,48.891,39149717,6001

In [14]:
# 4.2 Chcemy wygenerować statystyki dotyczące zachorowań na COVID-19 na całym świecie.

# Tutaj są wartości null w sumie. Można podmienić na 0 COALESCE(SUM(new_confirmed), 0) ale oznaczała by to, że nikt tam nie chorował a naprawdę nie ma danych.
query = ("""
SELECT country_name AS `Country_name`, iso_3166_1_alpha_3 AS `3_letter_code`, SUM(new_confirmed) as `Total_confirmed_cases`, /*SUM(new_recovered) as `Total_recovered`*/
FROM `bigquery-public-data.covid19_open_data.covid19_open_data`
GROUP BY country_name, iso_3166_1_alpha_3
ORDER BY country_name
""")

covid_statistic = client.query(query).to_dataframe()
covid_statistic.dropna(subset=['Total_confirmed_cases'], inplace=True)
covid_statistic.to_csv("wyniki\\covid_statistic.csv", index=False)

In [15]:
covid_statistic

          Country_name 3_letter_code  Total_confirmed_cases
0          Afghanistan           AFG                 352280
1              Albania           ALB                 330149
2              Algeria           DZA                 270570
3       American Samoa           ASM                   8217
4              Andorra           AND                  46147
..                 ...           ...                    ...
240            Vietnam           VNM               11448034
241  Wallis and Futuna           WLF                    761
243              Yemen           YEM                  11932
244             Zambia           ZMB                 333229
245           Zimbabwe           ZWE                 256939

[232 rows x 3 columns]

In [16]:
# 4.3 Chcemy poznać efekty COVID-19 poprzez uwypuklenie problemu śmiertelności ludzi spowodowanej wirusem.

query = ("""
SELECT country_name AS `Country_name`, iso_3166_1_alpha_3 AS `3_letter_code`, SUM(new_deceased) as `Total_new_deceased` 
FROM `bigquery-public-data.covid19_open_data.covid19_open_data`
GROUP BY country_name, iso_3166_1_alpha_3
ORDER BY country_name
""")

covid_deceased = client.query(query).to_dataframe()
covid_deceased.dropna(subset=['Total_new_deceased'], inplace=True)
covid_deceased.to_csv("wyniki\\covid_deceased.csv", index=False)

In [17]:
covid_deceased

          Country_name 3_letter_code  Total_new_deceased
0          Afghanistan           AFG               14432
1              Albania           ALB                3586
2              Algeria           DZA                6879
3       American Samoa           ASM                  34
4              Andorra           AND                 155
..                 ...           ...                 ...
240            Vietnam           VNM               43132
241  Wallis and Futuna           WLF                   7
243              Yemen           YEM                2155
244             Zambia           ZMB                4017
245           Zimbabwe           ZWE                5596

[232 rows x 3 columns]

In [18]:
# 4.4 Chcemy zaobserwować trendy i zależności dotyczące szczepień na COVID-19. 

query = ("""
SELECT country_name AS `Country_name`, iso_3166_1_alpha_3 AS `3_letter_code`,
SUM(new_persons_vaccinated) as `Total_new_vacinations`,
SUM(new_persons_fully_vaccinated) as`New_persons_fully_vaccinated`,
/*
SUM(new_persons_fully_vaccinated_pfizer) as `Total_fully_vacinations_by_pfizer`,
SUM(new_persons_fully_vaccinated_moderna) as `Total_fully_vacinations_by_moderna`,
SUM(new_persons_fully_vaccinated_janssen) as `Total_fully_vacinations_by_janssen`
*/
FROM `bigquery-public-data.covid19_open_data.covid19_open_data`
GROUP BY country_name, iso_3166_1_alpha_3
ORDER BY country_name
""")

covid_trend_analysis = client.query(query).to_dataframe()
covid_trend_analysis.dropna(subset=['Total_new_vacinations', 'New_persons_fully_vaccinated'], how='all', inplace=True)
covid_trend_analysis.to_csv("wyniki\\covid_trend_analysis.csv", index=False)

In [19]:
covid_trend_analysis

,Country_name,3_letter_code,Total_new_vacinations,New_persons_fully_vaccinated
0,Afghanistan,AFG,10827184,10049876
1,Albania,ALB,1335654,1261242
2,Algeria,DZA,7840131,5756374
4,Andorra,AND,57317,52306
5,Angola,AGO,14220830,7773926
...,...,...,...,...
240,Vietnam,VNM,89618505,83656864
241,Wallis and Futuna,WLF,5197,4969
243,Yemen,YEM,711874,461914
244,Zambia,ZMB,7540676,5851127
245,Zimbabwe,ZWE,6416575,4730223

In [20]:
# 4.5 Zdefiniuj własny dodatkowy przypadek.

# Chcemy posidać informacje o investycji w rozwój szepionki oraz liczbe wykonanych testów
query = ("""
SELECT country_name AS `Country_name`, iso_3166_1_alpha_3 AS `3_letter_code`, SUM(investment_in_vaccines) as `Investment_in_vaccines`, SUM(CAST(new_tested AS INT64)) as `Total_tested`
FROM `bigquery-public-data.covid19_open_data.covid19_open_data`
GROUP BY country_name, iso_3166_1_alpha_3
ORDER BY country_name
""")

investment_in_vaccines = client.query(query).to_dataframe()
investment_in_vaccines.dropna(subset=['Investment_in_vaccines', 'Total_tested'], how='all', inplace=True)
investment_in_vaccines.to_csv("wyniki\\investment_in_vaccines.csv", index=False)

display(investment_in_vaccines)

("""
SELECT country_name AS `Country_name`, iso_3166_1_alpha_3 AS `3_letter_code`, SUM(new_tested_male) as `New_tested_male`, SUM(new_tested_female) as `New_tested_female` 
FROM `bigquery-public-data.covid19_open_data.covid19_open_data`
GROUP BY country_name, iso_3166_1_alpha_3
ORDER BY country_name
""")


# Łóżka i pielęgniarki
("""
SELECT 
    country_name AS Country_name, iso_3166_1_alpha_3 AS 3_letter_code, ((population * hospital_beds_per_1000) / 1000) AS Total_Hospital_Beds, 
((population * nurses_per_1000) / 1000) AS Total_Nurses
FROM `bigquery-public-data.covid19_open_data.covid19_open_data`
WHERE hospital_beds_per_1000 IS NOT NULL 
      AND nurses_per_1000 IS NOT NULL
GROUP BY country_name, iso_3166_1_alpha_3, population, hospital_beds_per_1000, nurses_per_1000
ORDER BY country_name;
""")

    Country_name 3_letter_code  Investment_in_vaccines  Total_tested
0    Afghanistan           AFG               113000000          <NA>
1        Albania           ALB                 6900000       1613870
2        Algeria           DZA              1642713755          <NA>
4        Andorra           AND                       0          <NA>
5         Angola           AGO                88000000         28136
..           ...           ...                     ...           ...
239    Venezuela           VEN               200000000          <NA>
240      Vietnam           VNM                   53966      29193899
243        Yemen           YEM                       0          <NA>
244       Zambia           ZMB                       0       3412336
245     Zimbabwe           ZWE               100000001       1869683

[201 rows x 4 columns]

'\nSELECT \n    country_name AS Country_name, iso_3166_1_alpha_3 AS 3_letter_code, ((population * hospital_beds_per_1000) / 1000) AS Total_Hospital_Beds, \n((population * nurses_per_1000) / 1000) AS Total_Nurses\nFROM `bigquery-public-data.covid19_open_data.covid19_open_data`\nWHERE hospital_beds_per_1000 IS NOT NULL \n      AND nurses_per_1000 IS NOT NULL\nGROUP BY country_name, iso_3166_1_alpha_3, population, hospital_beds_per_1000, nurses_per_1000\nORDER BY country_name;\n'

# Część 5

Połącz ze sobą wszystkie dane otrzymane w części 4. Nowy zbiór danych zapisz jako oddzielny obiekt DataFrame. Jeżeli uważasz, że należy stworzyć kilka takich obiektów, zrób to i zapisz swoje uzasadnienie. Pamiętaj o ciągłej konieczności zachowania czystości danych. Wynik tego zadania zapisz w pliku / plikach CSV.

In [21]:
merge = pd.merge(country_data, covid_statistic, on=['Country_name', '3_letter_code'])
merge = pd.merge(merge, covid_statistic, on=['Country_name', '3_letter_code'])
merge = pd.merge(merge, covid_trend_analysis, on=['Country_name', '3_letter_code'])
merge = pd.merge(merge, investment_in_vaccines, on=['Country_name', '3_letter_code'])
merge.to_csv("wyniki\\merge.csv", index=False)
merge

,Country_name,3_letter_code,population,area_sq_km,population_density,population_urban,gdp_per_capita_usd,Total_confirmed_cases_x,Total_confirmed_cases_y,Total_new_vacinations,New_persons_fully_vaccinated,Investment_in_vaccines,Total_tested
0,Taiwan,TWN,23816775,36193,672.600,<NA>,<NA>,10061168,10061168,21634247,20185262,1733514,13021521
1,Andorra,AND,77265,470,164.394,67873,40886,46147,46147,57317,52306,0,<NA>
2,Bulgaria,BGR,7000039,111000,63.900,5256027,9440,1250250,1250250,2099212,2069594,79094046,3430255
3,Benin,BEN,12123198,114760,107.513,5648149,1219,27638,27638,3671646,2729804,0,<NA>
4,Bahamas,BHS,393248,13880,39.286,323784,32933,37171,37171,172588,157755,1600000,43736
...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,East Timor,TLS,1318442,14870,88.665,400182,1294,23237,23237,847592,743625,0,9154
190,Tanzania,TZA,59734213,947300,67.435,20011885,1122,39253,39253,19658725,17778283,0,<NA>
191,Ukraine,UKR,43733759,603550,75.492,30835699,3659,10333691,10333691,15774141,15153576,233711205,13377389
192,Saint Vincent and the Grenadines,VCT,110947,390,284.479,58185,7463,9446,9446,28199,21377,<NA>,2278
193,South Africa,ZAF,59308690,1219090,48.891,39149717,6001,11020928,11020928,22293695,19360708,480000000,24859294

# Część 6

In [22]:
# 6.1 world_countries.csv 

world_countries = pd.read_csv("world_countries.csv")

merge = pd.merge(merge, world_countries, left_on=['Country_name', '3_letter_code'], right_on=['Country/Territory', 'CCA3'], how="left")
merge.drop('Country/Territory', axis=1, inplace=True)
merge.drop('CCA3', axis=1, inplace=True)

merge

,Country_name,3_letter_code,population,area_sq_km,population_density,population_urban,gdp_per_capita_usd,Total_confirmed_cases_x,Total_confirmed_cases_y,Total_new_vacinations,...,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,Taiwan,TWN,23816775,36193,672.600,<NA>,<NA>,10061168,10061168,21634247,...,23512136.0,23083083.0,22194731.0,20586174.0,18100281.0,14957870.0,36193.0,660.1662,1.0014,0.30
1,Andorra,AND,77265,470,164.394,67873,40886,46147,46147,57317,...,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
2,Bulgaria,BGR,7000039,111000,63.900,5256027,9440,1250250,1250250,2099212,...,7309253.0,7592273.0,8097691.0,8767778.0,8980606.0,8582950.0,110879.0,61.1654,0.9849,0.09
3,Benin,BEN,12123198,114760,107.513,5648149,1219,27638,27638,3671646,...,10932783.0,9445710.0,6998023.0,5133419.0,3833939.0,3023443.0,112622.0,118.5635,1.0274,0.17
4,Bahamas,BHS,393248,13880,39.286,323784,32933,37171,37171,172588,...,392697.0,373272.0,325014.0,270679.0,223752.0,179129.0,13943.0,29.4043,1.0051,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,East Timor,TLS,1318442,14870,88.665,400182,1294,23237,23237,847592,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,Tanzania,TZA,59734213,947300,67.435,20011885,1122,39253,39253,19658725,...,52542823.0,45110527.0,34463704.0,26206012.0,19297659.0,13618192.0,945087.0,69.3034,1.0300,0.82
191,Ukraine,UKR,43733759,603550,75.492,30835699,3659,10333691,10333691,15774141,...,44982564.0,45683020.0,48879755.0,51589817.0,49973920.0,47279086.0,603500.0,65.7858,0.9120,0.50
192,Saint Vincent and the Grenadines,VCT,110947,390,284.479,58185,7463,9446,9446,28199,...,106482.0,109308.0,113813.0,112487.0,107480.0,98459.0,389.0,267.2185,0.9963,0.00
193,South Africa,ZAF,59308690,1219090,48.891,39149717,6001,11020928,11020928,22293695,...,55876504.0,51784921.0,46813266.0,39877570.0,29463549.0,22368306.0,1221037.0,49.0517,1.0084,0.75

In [23]:
gdp = pd.read_csv("gdp.csv")

merge = pd.merge(merge, gdp, left_on=['Country_name', '3_letter_code'], right_on=['Country Name', 'Country Code'], how="left")
merge.drop('Country Name', axis=1, inplace=True)
merge.drop('Country Code', axis=1, inplace=True)

merge.to_csv("wyniki\\final.csv", index=False)

# Część 7