# <b> Podstawy Przetwarzania Dużych Zbiorów Danych
<b>Grupa IBD4 Poniedziałki 8:30 <br>
Łukasz Moskwa 247739 Artur Szewczykowski 252546 <br>
Poziom 1 </b>

 Część 1 - poziom podstawowy
 
1. https://github.com/GoogleCloudPlatform/covid-19-open-data/blob/main/docs/table-by-sex.md
2. https://medium.com/artificial-intelligence-101/data-analysis-with-google-bigquery-exploring-the-covid-19-open-data-public-dataset-2d246c66422d

Część 2 - poziom podstawowy

In [1]:
# 2.5 Uruchom klienta BigQuery z poziomu Pythona.

import os
from operator import index

import pandas as pd
from google.cloud import bigquery

In [2]:
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]=".env/propane-flag-452609-u3-1feb9eb63dc4.json" # lokalizacja pobranego klucza z punktu 1.4.
client = bigquery.Client()

In [3]:
# 2.6 Pobierz dane do obiektu DataFrame.

query = ('select * from bigquery-public-data.covid19_open_data.covid19_open_data limit 10')
query_job = client.query(query)    
query_result = query_job.result()  
df = query_result.to_dataframe()
df

,location_key,date,place_id,wikidata_id,datacommons_id,country_code,country_name,iso_3166_1_alpha_2,iso_3166_1_alpha_3,aggregation_level,...,cumulative_vaccine_doses_administered_pfizer,new_persons_fully_vaccinated_moderna,cumulative_persons_fully_vaccinated_moderna,new_vaccine_doses_administered_moderna,cumulative_vaccine_doses_administered_moderna,new_persons_fully_vaccinated_janssen,cumulative_persons_fully_vaccinated_janssen,new_vaccine_doses_administered_janssen,cumulative_vaccine_doses_administered_janssen,location_geometry
0,AR,2020-10-21,ChIJZ8b99fXKvJURqA_wKpl3Lz0,Q414,country/ARG,AR,Argentina,AR,ARG,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-64 -34)
1,AR,2020-12-20,ChIJZ8b99fXKvJURqA_wKpl3Lz0,Q414,country/ARG,AR,Argentina,AR,ARG,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-64 -34)
2,AR,2020-11-05,ChIJZ8b99fXKvJURqA_wKpl3Lz0,Q414,country/ARG,AR,Argentina,AR,ARG,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-64 -34)
3,AR,2021-04-21,ChIJZ8b99fXKvJURqA_wKpl3Lz0,Q414,country/ARG,AR,Argentina,AR,ARG,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-64 -34)
4,AR,2021-04-22,ChIJZ8b99fXKvJURqA_wKpl3Lz0,Q414,country/ARG,AR,Argentina,AR,ARG,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-64 -34)
5,AR,2021-03-05,ChIJZ8b99fXKvJURqA_wKpl3Lz0,Q414,country/ARG,AR,Argentina,AR,ARG,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-64 -34)
6,BR,2020-11-10,ChIJzyjM68dZnAARYz4p8gYVWik,Q155,country/BRA,BR,Brazil,BR,BRA,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-53 -14)
7,BR,2020-12-30,ChIJzyjM68dZnAARYz4p8gYVWik,Q155,country/BRA,BR,Brazil,BR,BRA,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-53 -14)
8,BR,2020-02-22,ChIJzyjM68dZnAARYz4p8gYVWik,Q155,country/BRA,BR,Brazil,BR,BRA,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-53 -14)
9,BR,2021-02-15,ChIJzyjM68dZnAARYz4p8gYVWik,Q155,country/BRA,BR,Brazil,BR,BRA,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(-53 -14)

# Część 3 - poziom dodatkowy #1
Misja dodatkowa - Poznanie danych

In [4]:
# 3.1  Sprawdź, ile jest zapisanych wierszy z danymi. 

dataset_ref = client.dataset('covid19_open_data', project='bigquery-public-data')
table_ref = dataset_ref.table('covid19_open_data')
table = client.get_table(table_ref)

rows = table.num_rows

rows

22756333

In [5]:
# 3.2 Sprawdź, ile krajów jest uwzględnionych w danych. 

query = ("""
SELECT COUNT(DISTINCT country_code) AS num_countries
FROM bigquery-public-data.covid19_open_data.covid19_open_data

""")

query_job = client.query(query)
result = query_job.result()

number_of_country = result.to_dataframe()

# Zwraca 246, ponieważ niektóre tereny podległe takie jak "French Southern Territories", "Guam" itd.
# Co jest niby okey ale nie są to państwa bo ich jest 195
number_of_country.iloc[0, 0]

246

In [6]:
 # 3.3. Sprawdź, w jaki sposób zapisywane są dzienne informacje dla krajów.
query = ("""
SELECT *
FROM bigquery-public-data.covid19_open_data.covid19_open_data
WHERE  aggregation_level = 0 AND country_name = 'Poland'
ORDER BY date ASC 
""")

country_all = client.query(query).to_dataframe()
country_all

,location_key,date,place_id,wikidata_id,datacommons_id,country_code,country_name,iso_3166_1_alpha_2,iso_3166_1_alpha_3,aggregation_level,...,cumulative_vaccine_doses_administered_pfizer,new_persons_fully_vaccinated_moderna,cumulative_persons_fully_vaccinated_moderna,new_vaccine_doses_administered_moderna,cumulative_vaccine_doses_administered_moderna,new_persons_fully_vaccinated_janssen,cumulative_persons_fully_vaccinated_janssen,new_vaccine_doses_administered_janssen,cumulative_vaccine_doses_administered_janssen,location_geometry
0,PL,2020-01-01,ChIJuwtkpGSZAEcR6lXMScpzdQk,Q36,country/POL,PL,Poland,PL,POL,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(19 52)
1,PL,2020-01-02,ChIJuwtkpGSZAEcR6lXMScpzdQk,Q36,country/POL,PL,Poland,PL,POL,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(19 52)
2,PL,2020-01-03,ChIJuwtkpGSZAEcR6lXMScpzdQk,Q36,country/POL,PL,Poland,PL,POL,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(19 52)
3,PL,2020-01-04,ChIJuwtkpGSZAEcR6lXMScpzdQk,Q36,country/POL,PL,Poland,PL,POL,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(19 52)
4,PL,2020-01-05,ChIJuwtkpGSZAEcR6lXMScpzdQk,Q36,country/POL,PL,Poland,PL,POL,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(19 52)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
986,PL,2022-09-13,ChIJuwtkpGSZAEcR6lXMScpzdQk,Q36,country/POL,PL,Poland,PL,POL,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(19 52)
987,PL,2022-09-14,ChIJuwtkpGSZAEcR6lXMScpzdQk,Q36,country/POL,PL,Poland,PL,POL,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(19 52)
988,PL,2022-09-15,ChIJuwtkpGSZAEcR6lXMScpzdQk,Q36,country/POL,PL,Poland,PL,POL,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(19 52)
989,PL,2022-09-16,ChIJuwtkpGSZAEcR6lXMScpzdQk,Q36,country/POL,PL,Poland,PL,POL,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(19 52)
990,PL,2022-09-17,ChIJuwtkpGSZAEcR6lXMScpzdQk,Q36,country/POL,PL,Poland,PL,POL,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,POINT(19 52)

In [7]:
changing_columns = []

for x in country_all.columns:
    if country_all[x].value_counts().count() > 1:
        changing_columns.append(x)

changing_columns

['date',
 'new_confirmed',
 'new_deceased',
 'cumulative_confirmed',
 'cumulative_deceased',
 'cumulative_tested',
 'new_persons_vaccinated',
 'cumulative_persons_vaccinated',
 'new_persons_fully_vaccinated',
 'cumulative_persons_fully_vaccinated',
 'new_vaccine_doses_administered',
 'cumulative_vaccine_doses_administered',
 'school_closing',
 'workplace_closing',
 'cancel_public_events',
 'restrictions_on_gatherings',
 'public_transport_closing',
 'stay_at_home_requirements',
 'restrictions_on_internal_movement',
 'international_travel_controls',
 'income_support',
 'debt_relief',
 'fiscal_measures',
 'public_information_campaigns',
 'testing_policy',
 'contact_tracing',
 'emergency_investment_in_healthcare',
 'investment_in_vaccines',
 'facial_coverings',
 'vaccination_policy',
 'stringency_index',
 'average_temperature_celsius',
 'minimum_temperature_celsius',
 'maximum_temperature_celsius',
 'rainfall_mm',
 'snowfall_mm',
 'dew_point',
 'relative_humidity',
 'new_tested',
 'mobility_retail_and_recreation',
 'mobility_grocery_and_pharmacy',
 'mobility_parks',
 'mobility_transit_stations',
 'mobility_workplaces',
 'mobility_residential']

In [8]:
# 3.4. Sprawdź, w jaki sposób zapisywane są wartości liczbowe.

# Jeśli chodzi o to w jaki sposób są zapisane w bazie to są to prawie zawsze liczby bez mnożników mln czy innych,
# występują również przeliczenia np gpd_per_capita, population_density itd. wtedy są to wartości float,
# są też wartości ograniczone takie jak agregation_level (0, 1, 2, 3) które mówią o tym jak dokładnie dane są zbierane z danego kraju

df_numeric = country_all.select_dtypes(include=['number'])
df_numeric.dtypes.value_counts()

float64    441
Int64      217
Name: count, dtype: int64

In [9]:
#  3.5. Sprawdź, jaki przedział czasowy jest uwzględniony w danych. Dodatkowo porównaj przedziały czasowe dla przypadków nowych zachorowań, nowych śmierci oraz nowych zaszczepionych osób w danych.

query_new_confirmed = ("""
SELECT date, SUM(new_confirmed)
FROM bigquery-public-data.covid19_open_data.covid19_open_data
GROUP BY date
HAVING SUM(new_confirmed) IS NOT NULL AND SUM(new_confirmed) > 0
ORDER BY date ASC
""")

query_new_deceased = ("""
SELECT date, SUM(new_deceased)
FROM bigquery-public-data.covid19_open_data.covid19_open_data
GROUP BY date
HAVING SUM(new_deceased) IS NOT NULL AND SUM(new_deceased) > 0
ORDER BY date ASC
""")

query_new_person_vaccinated = ("""
SELECT date, SUM(new_persons_vaccinated)
FROM bigquery-public-data.covid19_open_data.covid19_open_data
GROUP BY date
HAVING SUM(new_persons_vaccinated) IS NOT NULL AND SUM(new_persons_vaccinated) > 0
ORDER BY date ASC
""")

new_confirmed = client.query(query_new_confirmed).to_dataframe()
new_deceased = client.query(query_new_deceased).to_dataframe()
new_person_vaccinated = client.query(query_new_person_vaccinated).to_dataframe()

In [10]:
print(f"Przedział czasowy danych jest od {country_all['date'].min()} do {country_all['date'].max()}.")
print(f"Przedział czasowy new_confirmed jest od {new_confirmed['date'].min()} do {new_confirmed['date'].max()}.")
print(f"Przedział czasowy new_deceased jest od {new_deceased['date'].min()} do {new_deceased['date'].max()}.")
print(f"Przedział czasowy new_person_vaccinated jest od {new_person_vaccinated['date'].min()} do {new_person_vaccinated['date'].max()}.")

Przedział czasowy danych jest od 2020-01-01 do 2022-09-17.
Przedział czasowy new_confirmed jest od 2020-01-01 do 2022-09-15.
Przedział czasowy new_deceased jest od 2020-01-02 do 2022-09-15.
Przedział czasowy new_person_vaccinated jest od 2020-12-07 do 2022-09-14.

3.6. Sprawdź więcej informacji (co najmniej 5 różnych) o danych dotyczących COVID-19. W tym celu nie wykonuj żadnych dodatkowych obliczeń. 
## Propozycje:
1. Ile kolumn liczy zbiór danych
2. Które państwa podawały dane z podziałem na płeć
3. Które państwa podawały dane z podziałem na kategorie wiekowe
4. Które państwa podawały dane dotyczące szczepień z podziałem na rodzaj(firmę) szczepionki
5. Jakie jest znaczenie wartośći liczbowych z kolumn dotyczących restrykcji (school_closing, workplace_closing, cancel_public_events

# Część 4 - poziom podstawowy
Przeanalizuj poniższe przypadki. Zastanów się, jakie dane potrzebujesz do każdego z nich, a następnie zapisz je w osobnych, jak najprostszych obiektach DataFrame. Na tym etapie nie przetwarzaj ich. Zadbaj o czystość danych, m.in. usuń niepotrzebne puste wartości i duplikaty, zunifikuj sposób podawania informacji, zaproponuj sposób naprawy błędnych danych. Gotowe dane z obiektów DataFrame zapisz w osobnych plikach CSV.

In [12]:
# 4.1 Chcemy posiadać podstawowe dane o wszystkich krajach świata, które będą zrozumiałe dla człowieka oraz uniwersalne i potencjalnie przyszłościowe do dalszego przetwarzania.

query = ("""
SELECT DISTINCT country_name AS `Country_name`, iso_3166_1_alpha_3 AS `3_letter_code`,
FROM bigquery-public-data.covid19_open_data.covid19_open_data
""")

country_data = client.query(query).to_dataframe()
country_data.to_csv("wyniki\\country_data.csv", index=False)

In [13]:
country_data

         Country_name 3_letter_code
0    Christmas Island           CXR
1              Cyprus           CYP
2             Denmark           DNK
3      Western Sahara           ESH
4             Grenada           GRD
..                ...           ...
241        East Timor           TLS
242             Tonga           TON
243            Tuvalu           TUV
244             Yemen           YEM
245           Mayotte           MYT

[246 rows x 2 columns]

In [14]:
# 4.2 Chcemy wygenerować statystyki dotyczące zachorowań na COVID-19 na całym świecie.

# Tutaj są wartości null w sumie. Można podmienić na 0 COALESCE(SUM(new_confirmed), 0) ale oznaczała by to, że nikt tam nie chorował a naprawdę nie ma danych.
query = ("""
SELECT country_name AS `Country_name`, iso_3166_1_alpha_3 AS `3_letter_code`, SUM(new_confirmed) as `Total_confirmed_cases` 
FROM `bigquery-public-data.covid19_open_data.covid19_open_data`
GROUP BY country_name, iso_3166_1_alpha_3
ORDER BY country_name
""")

covid_statistic = client.query(query).to_dataframe()
covid_statistic.to_csv("wyniki\\covid_statistic.csv", index=False)

In [15]:
covid_statistic

          Country_name 3_letter_code  Total_confirmed_cases
0          Afghanistan           AFG                 352280
1              Albania           ALB                 330149
2              Algeria           DZA                 270570
3       American Samoa           ASM                   8217
4              Andorra           AND                  46147
..                 ...           ...                    ...
241  Wallis and Futuna           WLF                    761
242     Western Sahara           ESH                   <NA>
243              Yemen           YEM                  11932
244             Zambia           ZMB                 333229
245           Zimbabwe           ZWE                 256939

[246 rows x 3 columns]

In [16]:
# 4.3 Chcemy poznać efekty COVID-19 poprzez uwypuklenie problemu śmiertelności ludzi spowodowanej wirusem.

query = ("""
SELECT country_name AS `Country_name`, iso_3166_1_alpha_3 AS `3_letter_code`, SUM(new_deceased) as `New_deceased` 
FROM `bigquery-public-data.covid19_open_data.covid19_open_data`
GROUP BY country_name, iso_3166_1_alpha_3
ORDER BY country_name
""")

covid_deceased = client.query(query).to_dataframe()
covid_deceased.to_csv("wyniki\\covid_deceased.csv", index=False)

In [17]:
covid_deceased

          Country_name 3_letter_code  New_deceased
0          Afghanistan           AFG         14432
1              Albania           ALB          3586
2              Algeria           DZA          6879
3       American Samoa           ASM            34
4              Andorra           AND           155
..                 ...           ...           ...
241  Wallis and Futuna           WLF             7
242     Western Sahara           ESH          <NA>
243              Yemen           YEM          2155
244             Zambia           ZMB          4017
245           Zimbabwe           ZWE          5596

[246 rows x 3 columns]

In [18]:
# 4.4 Chcemy zaobserwować trendy i zależności dotyczące szczepień na COVID-19. 

query = ("""
SELECT country_name AS `Country_name`, iso_3166_1_alpha_3 AS `3_letter_code`, SUM(new_persons_fully_vaccinated) as `New_persons_fully_vaccinated_in_country_per_day`, SUM(new_persons_vaccinated) as `Total_vacinations_in_country_per_day` 
FROM `bigquery-public-data.covid19_open_data.covid19_open_data`
GROUP BY country_name, iso_3166_1_alpha_3
ORDER BY country_name
""")

covid_trend_analysis = client.query(query).to_dataframe()
covid_trend_analysis.to_csv("wyniki\\covid_trend_analysis.csv", index=False)

In [19]:
covid_trend_analysis

,Country_name,3_letter_code,New_persons_fully_vaccinated_in_country_per_day,Total_vacinations_in_country_per_day
0,Afghanistan,AFG,10049876,10827184
1,Albania,ALB,1261242,1335654
2,Algeria,DZA,5756374,7840131
3,American Samoa,ASM,<NA>,<NA>
4,Andorra,AND,52306,57317
...,...,...,...,...
241,Wallis and Futuna,WLF,4969,5197
242,Western Sahara,ESH,<NA>,<NA>
243,Yemen,YEM,461914,711874
244,Zambia,ZMB,5851127,7540676
245,Zimbabwe,ZWE,4730223,6416575

In [20]:
# 4.5 Zdefiniuj własny dodatkowy przypadek.

# Chcemy posidać informacje o investycji w rozwój szepionki
query = ("""
SELECT country_name AS `Country_name`, iso_3166_1_alpha_3 AS `3_letter_code`, SUM(investment_in_vaccines) as `Investment_in_vaccines`
FROM `bigquery-public-data.covid19_open_data.covid19_open_data`
GROUP BY country_name, iso_3166_1_alpha_3
ORDER BY country_name
""")

investment_in_vaccines = client.query(query).to_dataframe()
investment_in_vaccines.to_csv("wyniki\\investment_in_vaccines.csv", index=False)


("""
SELECT country_name AS `Country_name`, iso_3166_1_alpha_3 AS `3_letter_code`, SUM(new_tested_male) as `New_tested_male`, SUM(new_tested_female) as `New_tested_female` 
FROM `bigquery-public-data.covid19_open_data.covid19_open_data`
GROUP BY country_name, iso_3166_1_alpha_3
ORDER BY country_name
""")


# Łóżka i pielęgniarki
("""
SELECT 
    country_name AS Country_name, iso_3166_1_alpha_3 AS 3_letter_code, ((population * hospital_beds_per_1000) / 1000) AS Total_Hospital_Beds, 
((population * nurses_per_1000) / 1000) AS Total_Nurses
FROM `bigquery-public-data.covid19_open_data.covid19_open_data`
WHERE hospital_beds_per_1000 IS NOT NULL 
      AND nurses_per_1000 IS NOT NULL
GROUP BY country_name, iso_3166_1_alpha_3, population, hospital_beds_per_1000, nurses_per_1000
ORDER BY country_name;


""")

'\nSELECT \n    country_name AS Country_name, iso_3166_1_alpha_3 AS 3_letter_code, ((population * hospital_beds_per_1000) / 1000) AS Total_Hospital_Beds, \n((population * nurses_per_1000) / 1000) AS Total_Nurses\nFROM `bigquery-public-data.covid19_open_data.covid19_open_data`\nWHERE hospital_beds_per_1000 IS NOT NULL \n      AND nurses_per_1000 IS NOT NULL\nGROUP BY country_name, iso_3166_1_alpha_3, population, hospital_beds_per_1000, nurses_per_1000\nORDER BY country_name;\n\n\n'

# Część 5 - poziom podstawowy

Połącz ze sobą wszystkie dane otrzymane w części 4. Nowy zbiór danych zapisz jako oddzielny obiekt DataFrame. Jeżeli uważasz, że należy stworzyć kilka takich obiektów, zrób to i zapisz swoje uzasadnienie. Pamiętaj o ciągłej konieczności zachowania czystości danych. Wynik tego zadania zapisz w pliku / plikach CSV.

In [39]:
merge = pd.merge(country_data, covid_statistic, on=['Country_name', '3_letter_code'])
merge = pd.merge(merge, covid_statistic, on=['Country_name', '3_letter_code'])
merge = pd.merge(merge, covid_trend_analysis, on=['Country_name', '3_letter_code'])
merge = pd.merge(merge, investment_in_vaccines, on=['Country_name', '3_letter_code'])
merge.to_csv("wyniki\\merge.csv", index=False)
merge

,Country_name,3_letter_code,Total_confirmed_cases_x,Total_confirmed_cases_y,New_persons_fully_vaccinated_in_country_per_day,Total_vacinations_in_country_per_day,Investment_in_vaccines
0,Christmas Island,CXR,<NA>,<NA>,<NA>,<NA>,<NA>
1,Cyprus,CYP,579899,579899,643495,665446,0
2,Denmark,DNK,3283706,3283706,4781451,4816889,3000000
3,Western Sahara,ESH,<NA>,<NA>,<NA>,<NA>,<NA>
4,Grenada,GRD,19473,19473,38800,44019,0
...,...,...,...,...,...,...,...
241,East Timor,TLS,23237,23237,743625,847592,0
242,Tonga,TON,16182,16182,75255,88432,0
243,Tuvalu,TUV,20,20,6714,7052,<NA>
244,Yemen,YEM,11932,11932,461914,711874,0
245,Mayotte,MYT,40161,40161,<NA>,<NA>,<NA>

# Część 6 - poziom podstawowy

In [40]:
# 6.1 world_countries.csv 

world_countries = pd.read_csv("world_countries.csv")

merge = pd.merge(merge, world_countries, left_on=['Country_name', '3_letter_code'], right_on=['Country/Territory', 'CCA3'], how="left")
merge.drop('Country/Territory', axis=1, inplace=True)
merge.drop('CCA3', axis=1, inplace=True)

merge

,Country_name,3_letter_code,Total_confirmed_cases_x,Total_confirmed_cases_y,New_persons_fully_vaccinated_in_country_per_day,Total_vacinations_in_country_per_day,Investment_in_vaccines,Rank,Capital,Continent,...,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,Christmas Island,CXR,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cyprus,CYP,579899,579899,643495,665446,0,158.0,Nicosia,Europe,...,1187280.0,1129686.0,948237.0,788500.0,679327.0,640804.0,9251.0,135.2814,1.0059,0.02
2,Denmark,DNK,3283706,3283706,4781451,4816889,3000000,115.0,Copenhagen,Europe,...,5677796.0,5550849.0,5340655.0,5144623.0,5125392.0,4922963.0,43094.0,136.4984,1.0048,0.07
3,Western Sahara,ESH,<NA>,<NA>,<NA>,<NA>,<NA>,172.0,El Aaiún,Africa,...,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
4,Grenada,GRD,19473,19473,38800,44019,0,193.0,Saint George's,North America,...,118980.0,114039.0,107432.0,99047.0,94838.0,98794.0,344.0,364.6453,1.0066,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,East Timor,TLS,23237,23237,743625,847592,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,Tonga,TON,16182,16182,75255,88432,0,197.0,Nuku‘alofa,Oceania,...,106122.0,107383.0,102603.0,98727.0,96708.0,86484.0,747.0,143.0495,1.0079,0.00
243,Tuvalu,TUV,20,20,6714,7052,<NA>,227.0,Funafuti,Oceania,...,10877.0,10550.0,9638.0,9182.0,7731.0,5814.0,26.0,435.0769,1.0096,0.00
244,Yemen,YEM,11932,11932,461914,711874,0,46.0,Sanaa,Asia,...,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42
245,Mayotte,MYT,40161,40161,<NA>,<NA>,<NA>,182.0,Mamoudzou,Africa,...,249545.0,211786.0,159215.0,92659.0,52233.0,35383.0,374.0,871.9278,1.0319,0.00

In [41]:
gdp = pd.read_csv("gdp.csv")

merge = pd.merge(merge, gdp, left_on=['Country_name', '3_letter_code'], right_on=['Country Name', 'Country Code'], how="left")
merge.drop('Country Name', axis=1, inplace=True)
merge.drop('Country Code', axis=1, inplace=True)

merge.to_csv("wyniki\\final.csv", index=False)

,Country_name,3_letter_code,Total_confirmed_cases_x,Total_confirmed_cases_y,New_persons_fully_vaccinated_in_country_per_day,Total_vacinations_in_country_per_day,Investment_in_vaccines,Rank,Capital,Continent,...,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage,Year,Value
0,Christmas Island,CXR,<NA>,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cyprus,CYP,579899,579899,643495,665446,0,158.0,Nicosia,Europe,...,948237.0,788500.0,679327.0,640804.0,9251.0,135.2814,1.0059,0.02,1975.0,4.899148e+08
2,Cyprus,CYP,579899,579899,643495,665446,0,158.0,Nicosia,Europe,...,948237.0,788500.0,679327.0,640804.0,9251.0,135.2814,1.0059,0.02,1976.0,5.760901e+08
3,Cyprus,CYP,579899,579899,643495,665446,0,158.0,Nicosia,Europe,...,948237.0,788500.0,679327.0,640804.0,9251.0,135.2814,1.0059,0.02,1977.0,7.348880e+08
4,Cyprus,CYP,579899,579899,643495,665446,0,158.0,Nicosia,Europe,...,948237.0,788500.0,679327.0,640804.0,9251.0,135.2814,1.0059,0.02,1978.0,9.640265e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7994,Tuvalu,TUV,20,20,6714,7052,<NA>,227.0,Funafuti,Oceania,...,9638.0,9182.0,7731.0,5814.0,26.0,435.0769,1.0096,0.00,2014.0,3.725969e+07
7995,Tuvalu,TUV,20,20,6714,7052,<NA>,227.0,Funafuti,Oceania,...,9638.0,9182.0,7731.0,5814.0,26.0,435.0769,1.0096,0.00,2015.0,3.267328e+07
7996,Tuvalu,TUV,20,20,6714,7052,<NA>,227.0,Funafuti,Oceania,...,9638.0,9182.0,7731.0,5814.0,26.0,435.0769,1.0096,0.00,2016.0,3.421888e+07
7997,Yemen,YEM,11932,11932,461914,711874,0,46.0,Sanaa,Asia,...,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42,NaN,NaN
7998,Mayotte,MYT,40161,40161,<NA>,<NA>,<NA>,182.0,Mamoudzou,Africa,...,159215.0,92659.0,52233.0,35383.0,374.0,871.9278,1.0319,0.00,NaN,NaN

# Część 7 - poziom dodatkowy #2